// page structure

div.app 
    
    display: flex
    flex-direction: column

    min-height: 100vh

    header

        padding: 20px
        text-align: center

        background-color: #28304E;
        color: #8390A4;
    
    main 

        flex-grow: 1

        display: flex
        flex-direction: column

        aside 
            nav
                a
                    display: block
                    padding: 15px

                    text-decoration: none
                    color: black
                &.active
                    background-color: #E9ECEF
        .page 

            flex-grow: 1
    
    footer

        padding: 20px
        text-align: center
        background-color: #28304E
        color: #8390A4

h2 

    padding: 20px
    text-align: center
    font-weight: normal

    font-size: 16px

    background-color: #28304E
    color: #8390A4


// Description 

.description
    padding: 20px

// Product list, transaction list

.product-view, .transaction-view, .product-sell, .product
    
    padding: 20px
    margin: 20px

    background-color: #E9ECEF
    box-shadow: 0 0 5px 0 #28304E

    p
        padding-bottom: 5px 

// Add new product, sell product, product list -> common elements -> button       

button
    background-color: #28304E
    color: #E9ECEF
    border: none
button:disabled
    background-color: #8390A4

.decrease, .increase
    height: 30px
    width: 30px
.span-value
    display: inline-block
    height: 30px
    width: 30px
    text-align: center

.btn-sell, .btn-save, .btn-add-product
    height: 30px
    padding-left: 20px
    padding-right: 20px

// Add new product -> form

.add-new-product 
    .form
        max-width: 500px
        margin: 0 auto
        >p 
            display: flex
            padding: 10px
            label
                flex-basis: 40%
                display: flex
                justify-content: flex-end

                padding-right: 20px
                align-items: center

            input, select
                flex-basis: 60%

                height: 50px
                line-height: 50px
            &:last-child
                justify-content: center 
                align-items: center


   
        








   






